.container:has(.usb-title) {
  margin-bottom: 24px;
}
.usb-title {
  padding: 35px 0;
  background-color: $white;
  .title {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: $main-color-second;
    text-align: center;
  }
}
